[submodule "laradock"]
	path = laradock
	url = https://github.com/Laradock/laradock.git
[submodule "application/laradock"]
	path = application/laradock
	url = https://github.com/Laradock/laradock.git
