body {
    margin: 0px;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    width: 400px;
    background: #fff;
    border: 1px solid #6C7A89;
    border-radius: 20px;
}
.box-header {
  background-color: #00c853;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0px;

}
.box-bottom {
    background-color: #00c853;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px;
    margin-top: 26px;
    height: 60px;
    color: #fff; 
  }
.box-bottom p {
    padding: 5px;
}
.logo {
    height: 100px;
    margin-top: 15px;
}
.error{
    color:red;
    padding-top: 50px;
    position: absolute;
  }