/***** ALL *****/
*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}

:root {
  --cor-padrao: #00c853;
  --cor-btn-hover: #00e676;
  --cor-hover: #b9f6ca;
  --cor-white: #fff;
  --cor-border: #bdbdbd;
  --cor-bg-content: #fafafa;
  --cor-hover-menu: #76ff03;
}

/***** MENU *****/
.header{
  height: 100px;
  background: var(--cor-padrao);
  padding: 0 20px;
  color: var(--cor-white);
}
.header i {
  color: var(--cor-white);
}
.logo{
  float: left;
  text-transform: uppercase;
  height: 80px;
  margin-top: 10px;
}
.menu{
  float: right;
  line-height: 100px;
}
.menu a{
  color: var(--cor-white);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: var(--cor-hover-menu);
}
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/****** Main ******/
.cadastrar {
  border: 1px solid var(--cor-border);
  border-radius: 20px;
  padding: 20px;
  margin-top: 35px;
  background-color: var(--cor-bg-content);
  margin-bottom: 35px;
}
.dashboard {
  border: 1px solid var(--cor-border);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 35px;
}
.listar {
  border: 1px solid var(--cor-border);
  border-radius: 20px;
  padding: 20px;
  margin-top: 35px;
  background-color: var(--cor-bg-content);
  margin-bottom: 120px;
}
.listar-adm {
  border: 1px solid var(--cor-border);
  border-radius: 20px;
  padding: 20px;
  margin-top: 35px;
  background-color: var(--cor-bg-content);
  margin-bottom: 35px;
}
.logout {
  padding: 20px;
  margin-top: 10%;
  background-color: var(--cor-bg-content);
}
table i {
  font-size: 25px;
  color: var(--cor-padrao);
}
.btn-default {
  background-color: var(--cor-padrao);
  color: var(--cor-white);
}
.btn-default:hover {
  background-color: var(--cor-btn-hover);
  color: var(--cor-white);
}
.modal-header {
  background-color: var(--cor-padrao);
  color: var(--cor-white);
}
.border-bot {
  border-bottom: 2px solid var(--cor-padrao); 
  padding-bottom: 5px;
}
.error{
  color:red;
  padding-top: 5px;
}
.listaRank {
  border-radius: 50px;
  border: solid 1px var(--cor-padrao); 
  background-color: #e8f5e9;
}
.listaRank > img {
  border-radius: 50%;
}
.headerRank {
  border-radius: 50px;
  background-color: var(--cor-padrao);
  padding: 10px;
  color: var(--cor-white);
}

/***** Footer *****/
.page-footer {
  width: 100%;
  text-align: center;
  bottom: 0;
  right: 0;
  position: fixed;
  text-transform: uppercase;
  line-height: 20px;
  padding: 10px;
  background-color: var(--cor-padrao);
  color: var(--cor-white);
}

/***** @medias *****/
@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 70%;
    height: 100vh;
    background: #757575;
    color: var(--cor-white);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    z-index: 1;
  }
  .page-footer {
    display: none;  
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}